div{
    width: 600px;
    margin: 20px auto;
    border: 5px double;
    padding: 30px;
}
div h2{
    text-align: center;
    margin-top: -15px;
    margin-bottom: -5px;
    background-color: blueviolet;
}
table{
    width: 70%;
    
}
div h4{
    background-color: crimson;
    padding: 3px;
    color: white;
}
.EDUCATION{
    border: 1px solid;
    border-collapse: collapse;
}
.EDUCATION th{
    padding: 3px;
    background-color: navy;
    color: white;
    border: 1px solid black;
}
.EDUCATION tr{
    text-align: center;
}
.EDUCATION td{
    border: 1px solid;
    padding: 5px;
    background-color: aqua;
}
table.left{
    text-align: left;
}
table.right{
    text-align: right;
    font-weight: bold;
}
.space{
    text-indent: 25px;
    text-align: justify;
    line-height: 28px;
}
#progress{
    width: 50%;
}
li{
    margin-bottom: 2px;
}
