/*h1{color:red;}

h1 {
    color: red;
    font-size: 5em;
}

p {
    color: blue;
}*/
h1{
text-align: center;
    color: blueviolet
}
body{ font-size: medium}
.kavin{color:red;
background-color: lime}

body{font-size: medium}
.kumar{color: blue;
background-color: lime}
