/*h1{color:red;}

h1 {
    color: red;
    font-size: 5em;
}

p {
    color: blue;
}*/

h1{
text-align: center;
background-color: aqua;
    color: blueviolet
    
}
fieldset{
    background-color: gray;
    border-radius: 20px;
    
}
h2{
    text-align: center;
}
body{ font-size: x-large}
.kavin{color:red;
    text-align: center;
background-color: lime}

body{font-size: x-large}
.kumar{color: blue;
    text-align: center;
background-color: lime}
